@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Speaker";
}

    <div class="container-fluid speaker-page">
        <div class="row">
            <div class="col-md-8">
                <img class="img-thumbnail img-responsive" style="float:left;" src="@Model.Photo" width="150px;" />
                <h1>
                    @Model.FirstName @Model.LastName
                </h1>
                <p class="text-muted tagline"><em>@Model.Tagline</em></p>
<!--Temporary -->
<br/>
<br/>
                <h4>About @Model.FirstName</h4>

                <p>@Model.Bio</p>
                <hr/>
                <h4>Talks</h4>

                    <div>
                        <div class="speakers-session-list list-group">
                            @{ foreach (var talk in Model.Talks)
                                {
                                    <a class="list-group-item" asp-controller="Session" asp-action="Details" asp-route-id="@Model.Id">
                                        <h4>@talk.Title</h4>
                                        <p class="text-muted">
                                            @talk.Abstract
                                        </p>
                                        <h6 class="text-muted text-uppercase side-tag">Level:</h6> 
                                        <span class="label label-@talk.Level.ToString().ToLower()"> 
                                            @talk.Level</span>
                                        <h6 class="text-muted text-uppercase side-tag">Tags:</h6>
                                        @{foreach(var tag in talk.Tags)
                                            {
                                                <span class="label label-default"> 
                                                    @tag</span>
                                            }
                                        }
                                       
                                    </a>
                                }
                            }
                        </div>
                    </div>
            </div>
    <div class="col-md-4">
       <div class="panel panel-default social-media-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Follow @Model.FirstName</h3>
  </div>
  <div class="panel-body">
      @if(!String.IsNullOrWhiteSpace(@Model.TwitterHandle)){
        <a href="http://twitter.com/@Model.TwitterHandle" target="_blank"> <img class="" src="~/images/social-media/social-1_logo-twitter.svg"/></a>
      }
       @if(!String.IsNullOrWhiteSpace(@Model.LinkedInProfile)){
        <a href="http://linkedin.com/in/@Model.LinkedInProfile" target="_blank"><img class="" src="~/images/social-media/social-1_logo-linkedin.svg"/></a>
      }
      @if(!String.IsNullOrWhiteSpace(@Model.FacebookProfile)){
        <a href="http://facebook.com/@Model.FacebookProfile" target="_blank"><img class="" src="~/images/social-media/social-1_logo-facebook.svg"/></a>
      }
      @if(@Model.BlogUri != null){
        <a href="@Model.BlogUri" target="_blank"><img class="" src="~/images/social-media/social-1_logo-wordpress.svg"/></a>
      }
  </div>
</div>
       <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sponsors</h3>
  </div>
  <div class="panel-body">
      <img class="img-responsive" src="http://moviesmedia.ign.com/movies/image/article/115/1157513/initech_1301965579.jpg"/>
  <img class="img-responsive" src="http://ih1.redbubble.net/image.55130916.7058/ap,550x550,16x12,1,transparent,t.png"/>
  <img class="img-responsive" src="http://static.squarespace.com/static/531f2c4ee4b002f5b011bf00/t/536bdcefe4b03580f8f6bb16/1399577848961/hbosiliconvalleypiedpiperoldlogo"/>
  </div>
</div>
    </div>
  </div>
  </div>
