@model ConCode.NET.Web.Models.AttendeeViewModels.AttendeeIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid speaker-page">
   <div class="row">
      <div class="col-md-8">
        <h2>@Model.Greeting @Model.FirstName!</h2>

        <div>
            <h4>Details About Your Profile</h4>
            <div style="background-image: url('/images/BadgeTemplate.png');  background-size: 450px 600px; width:450px; Height:600px; Padding:15px;">
                <span><img src="@Model.Photo" width="90px" style="Float:Left; margin-top: 130px; margin-left: 60px"/></span>
                <h2 style="margin-top: 125px; margin-left: 160px; width:200px;">@Model.FirstName @Model.LastName</h2>
                <h6 style="margin-left:165px;"> @Html.DisplayNameFor(model => model.Username) @Html.DisplayNameFor(model => model.Username)</h6>
                <dl class="dl-horizontal" style="width:360px;padding-left: 5px;padding-top: 20px;text-overflow: ellipsis;">
                <dt>
                    Blog
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.BlogUri)
                </dd>
                <dt>
                    Twitter
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TwitterHandle)
                </dd>
                <dt>
                    LinkedIn
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LinkedInProfile)
                </dd>
                <dt>
                   Facebook
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FacebookProfile)
                </dd>
            </dl>
            <div style="width:325px;margin-left: 55px;" class="text-muted">
                @Model.Bio
                </div>

        </div>
    </div>
    <div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
</div>
      </div>
<div class="col-md-4">
    @await Html.PartialAsync("_sponsors")
</div>
</div>
</div>